
<h1><strong><center>My Images</center></strong></h1>
<% @my_images.each do |my_image| %>
  <div class="col-lg-4 col-md-3 col-sm-6">
    <%= link_to image_tag(my_image.picture_url), my_image, class: "thumbnail" %>
  </div>
<% end %>
