<div class="jumbotron">
	<div class="jumbotron-heading text-center">
		<h1>Welcome To Online Image Store</h1>
		<br><br><br>
		<p>We Capture Thousands of Pictures </p>
		<p>Those are not only the pictures </p>
		<p>But our memories for future</p>
		
		<p><b>Save Your Memories Here</b></p>

	</div>
</div>